html {
    background-color: aqua;
}

.header {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    margin-bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-basis: 0%;
    flex-shrink: 0; */
}

.big-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-top: 0;
    border-radius: 10px;
    /* border: 100px 100px 100px 100px solid red; */
    
}

.grid-container{ 
    display: inline-grid; 
    margin-top: 3vw;
    min-height: 0;
    min-width: 0;
    /* margin-bottom: 2vw; */
    border-top: 100px solid red;
    border-left: 100px solid red;
    border-right: 100px solid red;
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    border-radius: 10px 10px 0px 0px;
    /* background-color: red; */
 }

.grid-cell {
    border: 0.1px solid lightgrey;
    overflow: hidden;
    min-width: 0;
    box-sizing: border-box;
}

#btn-container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: red;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    

}

/* #btn-container .rainbow-btn{
    
} */

button {
    /* margin: 1%; */
    margin: 20px 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    width: 250px;
    /* height: 5px; */
    /* box-sizing: border-box; */
    /* height: 10px; */
    
}
